@{
    ViewData["Title"] = "Cadastro de Empresas";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Empresas Parceiras</h1>
    <a class="btn btn-primary" asp-controller="Empresas" asp-action="Index">Empreas</a>
</div>
